@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito',sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bf-color: #262840;
    --text-color: #fff;
    --main-color: #5982f4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 0%;
}

.header {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}
 
.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

.menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);
}

.home-content h1 {
    font: size 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-img img {
    width: 25vw;
    animation:floatImage 4s ease-in-out infinite;
}